@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');

/*Cor fundo: #cfe4f2
Destaque: #8fbfe0
Detalhes: 1d8a99
Texto: 2b3a67*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oranienbaum", serif;
}

body {
    background-color: #CFE4F2;
}

header {
    padding: 1rem;
}

.title-bar {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.title-div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.title {
    font-size: 2rem;
    font-weight: 500;
}

.subtitle {
    font-size: 1.5rem;
}

.icon {
    font-size: 4rem;
}

.utility-icons {
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
}

.menu {
    background-color: red;
}
